[alias]
  co = checkout
  ci = commit
  d  = diff
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
	unstage = reset HEAD --
	last = log -1 HEAD
	gobackone = reset --hard HEAD~1
[user]
	name = Kyle Tolle
	email = kyle@nullsix.com
[core]
	autocrlf = input
	safecrlf = true
	editor = mvim -f
	excludesfiles = ~/.gitignore_global
	excludesfile = /Users/kyle/.gitignore
[merge]
	tool = gvimdiff
[push]
	default = simple
[color]
	ui = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[url "ssh://git@heroku.com/"]
	insteadOf = https://git.heroku.com/
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
