[alias]
  co = checkout
  ci = commit
  d  = diff
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
	unstage = reset HEAD --
	last = log -1 HEAD
	gobackone = reset --hard HEAD~1
	dft = difftool
[user]
	name = Kyle Tolle
	email = kyle@nullsix.com
	signingKey = ""
[core]
	autocrlf = false
	safecrlf = true
	editor = mvim -f
	excludesfiles = ~/.gitignore_global
	excludesfile = /Users/kyletolle/.gitignore_global
[merge]
	tool = gvimdiff
[push]
	default = simple
	autoSetupRemote = true
[color]
	ui = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[url "ssh://git@heroku.com/"]
	insteadOf = https://git.heroku.com/
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[pull]
	rebase = false
[init]
	defaultBranch = main
# Trying difftastic for some git diffs! See https://difftastic.wilfred.me.uk/introduction.html
[diff]
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
