Desktop/*
Downloads/*
frisbee/*
ruby/
webpages/
/NetBeansProjects/*
code/
Applications*/
Documents/
Dropbox/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
PdaNetUninstall.sh
logfile
examples.desktop
*.tmp
.env.sh
.DS_Store
.vim/bundle
.vim/.netrwhist
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc~
.cache/
.compiz-1/
.config/
.dbus/
.dmrc
.esd_auth
.fontconfig/
.gconf/
.gem/
.gitk
.gksu.lock
.gnome2/
.goutputstream-GETLDW
.gstreamer-0.10/
.gtk-bookmarks
.irb-history
.local/
.macromedia/
.mission-control/
.mozilla/
.netrc
.pki/
.pulse-cookie
.pulse/
.rvm/
.ssh
.subversion
.sudo_as_admin_successful
.thumbnails/
.vimsize
.viminfo
.xsession*
.Trash/
.dropbox/
.emacs*
.guard_history
.heroku/
.irssi/
.m2/
.netbeans-derby/
.node-gyp/
.npm/
.psql_history
.CFUserTextEncoding
.dvdcss/
.editedhistory
.el4r/
.el4rrc.rb
